trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          wget "https://sca-downloads.s3.amazonaws.com/cli/2.12.34/ScaResolver-linux64.tar.gz"
      displayName: 'Download sca-resolver'
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          tar -xzvf "ScaResolver-linux64.tar.gz"
      displayName: 'unzip sca-resolver'
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          rm -rf "ScaResolver-linux64.tar.gz"
      displayName: 'remove tar file'
    - task: Checkmarx AST@3
      inputs:
        CheckmarxService: 'CxOne-Seg'
        projectName: '00252150-ADO-CLI-SCAResolver'
        branchName: 'main'
        tenantName: 'cx_seg'
        additionalParams: -s '/home/vsts/work/_temp' --scan-types 'container-security,sast,sca' --scan-timeout 120 --wait-delay 30 --tags buildId:1150233,pipelineName:wealth-ax-daily-scan,image:localhost/wealth/wealth-auth-service,imageTag:1150233 --container-images docker.io/nginx:latest --containers-local-resolution